.ubutton {
    padding: 1.2vh;
    font-size: 2.5vh;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vh;
    font-family: ForwardExtra-Light;
    font-weight: bold;
    transition: all 0.3s ease;
}

.ubutton.maintheme{
    color: var(--theme-main-color);
    border: 1px var(--theme-main-color) solid;
    background: var(--theme-bg-color);
}

.ubutton.maintheme:hover{
    background: var(--theme-bg-secondary-color);
}


.ubutton.strong{
    padding: 0.8em;
    border-radius: 0; 
    margin: 0;
    font-size: inherit;
}

.ubutton.grey{
    border: 2px solid #485761;
    color: #9c9c9c;
    background: #3a3d3f;
}

.ubutton.grey:hover{
    border: 2px solid #9ca6ad;
    color: white;
    background: #616568;
}


.ubutton.white{
    border: 2px solid #8f979c;
    color: #e9e9e9;
    background: #7c7e80;
}

.ubutton.white:hover{
    border: 2px solid #d4d8db;
    color: white;
    background: #bebebe;
}


.ubutton.light{
    border: 2px solid #5c5c5c;
    color: #5c5c5c;
    background: #c7c7c7;
}

.ubutton.light:hover{
    border: 2px solid #57617c;
    color: #3a3a3a;
    background: #b6bbcc;
}


.ubutton.neon:hover{
    background: linear-gradient(to bottom, var(--neon-border-color), var(--neon-border-color));
}

.ubutton.neon{
    color: white;
    border: 2px solid var(--neon-border-color);
    background: linear-gradient(to bottom, var(--neon-border-color), var(--neon-bg-color));
}


.ubutton.link:hover{
    color: var(--neon-bg-color);
}

.ubutton.link{
    color: var(--neon-border-color);
    border: none;
    background: none;
    padding: 0;
    font-size: 4vw;
    display: inline;
    float: left;
}

.ubutton.link:nth-child(2){
    float: right;
}