.black{
    /*background-image: url("../../Images/dark_wood.jpg");*/
    background-color: black;
    box-shadow: 0px 1px 0 #222222,
                0px 2px 0 #222222,
                0px 3px 0 #222222,
                1px 4px 0 #222222,
                1px 5px 0 #222222,
                1px 6px 0 #222222,
                6px 10px 7px #333333;
}
.white{
    /*background-image: url("../../Images/light_wood.jpg");*/
    background-color: white;
    box-shadow: 0px 1px 0 #888888,
                0px 2px 0 #888888,
                0px 3px 0 #888888,
                1px 4px 0 #888888,
                1px 5px 0 #888888,
                1px 6px 0 #888888,
                6px 10px 7px #333333;
}
.uchecker,.empty,.userchecker{
    width: var(--checker-size);
    height: var(--checker-size);
    border-radius: 50%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.userchecker{
    box-shadow: 0px 0px 10px #fff;
    transform: translate(10px,-10px);
}
.active{
    background: #eeff00;
    box-shadow: 0px 1px 0 #8a9401,
                0px 2px 0 #8a9401,
                0px 3px 0 #8a9401,
                1px 4px 0 #8a9401,
                1px 5px 0 #8a9401,
                1px 6px 0 #8a9401,
                6px 10px 7px #333333;
}
.drag{
    position: absolute;
}