.uchecker,.empty,.userchecker{
    width: var(--cell-size);
    height: var(--cell-size);
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 110%;
}
.black{
    background-image: url("./black.checker.png");
}
.uchecker.black.damka{
    background-image: url("./black.damka.png");
}
.uchecker.black.animated{
    background-image: url("./black-animated.gif");
}
.white{
    background-image: url("./white.checker.png");
}
.uchecker.white.damka{
    background-image: url("./white.damka.png");
}
.uchecker.white.animated{
    background-image: url("./white-animated.gif");
}
.uchecker.active{
    background-image: url("./active.checker.png");
}
.uchecker.damka.active{
    background-image: url("./active.damka.png");
}

.uchecker.black > i.fa {
    color: #888888;
}
.uchecker > i.fa {
    position: absolute;
    transform: translate(-0.35em, 0.6em);
    opacity: 0;
    font-size: 1.2em;
}
.uchecker > i.fa-crosshairs {
    color: red !important;
}
.uchecker.deadly{
    background-color: rgba(255, 0, 0, 0.5);
}

.userchecker{
    transform: translate(10px,-10px);
}
.drag{
    position: absolute;
}