:root{
    --dia-size: 30vw;
    --dia-marging: 1vw;
    --dia-bord: 4%;
    --perc-font-size: 150%;
    --regular-font-size: 3.2vw;
}

.diagram.rpb-green .text, .diagram.rpb-green .text span {
    color: rgb(0, 168, 0);
}
.diagram.rpb-green,
.diagram.over_50.rpb-green .left::before {
    background: rgb(0, 168, 0);
}
.diagram.rpb-green .left::before,
.diagram.rpb-green .right::before {
    background: rgb(0, 43, 0);
}

.diagram.rpb-red .text, .diagram.rpb-red .text span {
    color: var(--neon-text-color);
}
.diagram.rpb-red,
.diagram.rpb-red.over_50 .left::before {
    background: var(--neon-text-color);
}
.diagram.rpb-red .left::before,
.diagram.rpb-red .right::before {
    background: rgb(51, 0, 0);
}

.diagram.rpb-orange .text, .diagram.rpb-orange .text span {
    color: var(--theme-main-color);
}
.diagram.rpb-orange,
.diagram.rpb-orange.over_50 .left::before {
    background: var(--theme-main-color);
}
.diagram.rpb-orange .left::before,
.diagram.rpb-orange .right::before {
    background: rgb(78, 38, 0);
}



.diagram.hugetext .text b {
    font-size: calc(var(--perc-font-size) - 2vw);
}

.diagram {
    width: var(--dia-size);
    height: var(--dia-size);
    margin: var(--dia-marging);
    border-radius: 50%;
    background: var(--neon-border-color);
    position: relative;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.diagram.shown {
    opacity: 1;
}
.diagram::before {
    content: '';
    display: block;
    position: absolute;
    top: var(--dia-bord);
    left: var(--dia-bord);
    right: var(--dia-bord);
    bottom: var(--dia-bord);
    border-radius: 50%;
    background: var(--theme-bg-color);
    z-index: 3;
}
.diagram .piece {
    width: 104%;/*calc(var(--dia-size) + 4px);*/
    height: 104%;/*calc(var(--dia-size) + 4px);*/
    left: -2%;/*-2px;*/
    top: -2%;/*-2px;*/
    overflow: hidden;
    position: absolute;
}
.diagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}
.diagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%;
}
.diagram.shown .piece {
    transition: transform 1s ease;
}
.diagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%;
}
.diagram .left::before {
    background: var(--neon-bg-color-dark);
}
.diagram .right::before {
    background: var(--neon-bg-color-dark);
}

.diagram.over_50 .piece.left {
    transform: rotate(180deg);
}
.diagram.over_50 .piece.right, .diagram.over_100 .piece.left {
    transform: rotate(360deg);
}
.diagram.over_150 .piece.left, .diagram.over_100 .piece.right {
    transform: rotate(540deg);
}
.diagram.over_150 .piece.right {
    transform: rotate(720deg);
}
.diagram.over_50 .left::before {
    background: var(--neon-border-color);
}
.diagram.over_150, .diagram.over_150 .left::before, .diagram.over_100 {
    background: var(--theme-secondary-color);
}
.diagram.over_150 .right::before, .diagram.over_100 .right::before, .diagram.over_100 .left::before {
    background: var(--neon-border-color);
}
.diagram .text {
    position: absolute;
    z-index: 3;
    top: -3%;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neon-bg-color-dark);
}
.diagram .text b {
    font-size: var(--perc-font-size);
}
.diagram .text span {
    font-size: var(--regular-font-size);
    color: var(--neon-border-color);
    display: block;
    padding: 0px 5%;
}
.diagram.over_100 .text b {
    color: var(--neon-border-color);
}
.diagram.over_100 .text span {
    color: var(--theme-secondary-color);
}
.diagram.over_100.tooltip::after, .diagram.over_150.tooltip::after {
    color: var(--theme-secondary-color);
    font-size: var(--regular-font-size);
}



.rpb-green .text {
    color: #0f0 !important;
}
.rpb-red .text {
    color: var(--neon-text-color) !important;
}
.rpb-orange .text {
    color: var(--theme-main-color) !important;
}


.diagram.tooltip::after {
	background: var(--theme-bg-color);
	color: var(--neon-bg-color-dark);
	content: attr(data-tooltip); 
    top: var(--dia-bord);
    left: var(--dia-bord);
    right: var(--dia-bord);
    bottom: var(--dia-bord);
    width: calc(var(--dia-size) - var(--dia-bord) * 2);
    height: calc(var(--dia-size) - var(--dia-bord) * 2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--perc-font-size);
	opacity: 0; 
	padding: 10px;
	position: absolute;
	visibility: hidden;
    z-index: 20;
    overflow: auto;
	transition: all 0.4s ease-in-out;
}
		
.diagram.tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}