.uheader {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: fixed;
    z-index: var(--appheader-layer-depth);
    top: 0;
}
.fa-chess{
    -webkit-text-stroke: 1px var(--theme-main-color);
}
#uhiconcontainer{
    /*display: table;*/
    position: absolute;
    /*flex-grow: 6;
    justify-content: flex-end;
    flex-direction: column;*/
    top: 1.8em;
    left: 0;
    z-index: var(--navigator-layer-depth);
    /*background: rgba(0,0,0,0.9);*/
    width: 100%;
    height: var(--field-size);
    padding: 3vh;
}
#uhiconcontainershadow{
    top: 0;
    left: 0;
    position: absolute;
    z-index: var(--background-layer-depth);
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: var(--field-size);
    padding: 3vh;
}
#utitle.initial{
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
}
.uhicon,#utitle{
    padding: 0.3em;
    color: var(--theme-main-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
#uhiconcontainer .uhicon{
    font-size: 24px;
}
#uhiconcontainer.hidden{
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
#uhiconcontainer>.uhicon{
    display: table-row;
    justify-content: left;
    align-items: center;
    font-family: ForwardExtra-Light;
}
#uhiconcontainer>.uhicon>*{
    display: table-cell;
    padding: 7px 2px;
}
.uhicon>i{
    min-width: 10%;
    text-align: right;
    margin-right: 3%;
}
#utitle{
    flex-grow: 3;
    font-family: Federo;
    text-transform: uppercase;
}
.uhicon>i{
    margin: 0;
}
.uhicon>i.fa-smx-spin:hover::before{
    content: '\f28d';
}
.uhicon:hover{
    color: var(--theme-secondary-color);
}
.warning{
    color: red;
}
#navibut{
    display: block;
}



@media (orientation: portrait), (max-aspect-ratio: 10/13){

}
@media (min-width: 580px){
    #navibut{
        display: none;
    }
    #uhiconcontainer{
        display: flex;
        flex-direction: row;
        position: initial;
        top: initial;
        width: auto;
    }
    .uhicon span{
        display: none;
    }

}


