#fanfara{
    width: 100vmin;
    left: 0;
    top: 0;
    font-family: ForwardExtra-Light;
    font-weight: bold;
    background: rgba(0,0,0,0.9);
    color: #bbb;
    text-align: center;
    display: block;
    position: absolute;
    z-index: var(--fanfaras-layer-depth);
    min-height: 90vh;
    padding-bottom: 15vh;
}
#fanfara h3{
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    color: var(--theme-secondary-color);
}
#fanfara.statusA{
    display: none;
}
#fanfara p.fanp {
    padding: 0;
    margin: 5px 15px;
    text-align: left;
}
#fanfara p.statcompare{
    font-size: 13px;
    color: var(--theme-secondary-color);
    margin-left: 25px;
    margin-bottom: 8px;
}
.yellow {
    color: var(--theme-secondary-color);
}
 