@font-face {
    font-family: 'Federo';
    src: url('./Fonts/Federo.ttf');
}
@font-face {
    font-family: 'ForwardExtra-Light';
    src: url('./Fonts/ForwardExtra-Light.otf');
}
:root{
    --theme-main-color: #fac83d;
    --theme-secondary-color: #eeff00;
    --theme-third-color: #cedd00;
    --theme-bg-hover-color: #30260a;
    --theme-bg-color: #111111;
    --theme-bg-secondary-color: rgb(51, 29, 0);
    --theme-bg-image: none;
    --neon-text-color: #f40;
    --neon-border-color: #08f;
    --neon-bg-color: #1e6899;
    --neon-bg-color-dark: #053352;
    --field-size: 48vw;
    --cell-size: 6vw;
    --checker-size: 4.5vw;
    --regular-text-size: 16px;

    --modal-layer-depth: 200;
    --modal-bg-layer-depth: 190;
    --appheader-layer-depth: 150;
    --navigator-layer-depth: 130;
    --fanfaras-layer-depth: 100;
    --rampage-layer-depth: 20;
    --stepper-layer-depth: 2;
    --background-layer-depth: -1;
}
table {
  font-family: Federo;
  color: white;
  padding: 10px;
}
table td {
  padding: 2px 5px;
}
@media (orientation: portrait), (min-aspect-ratio: 10/6){
  :root{
      --field-size: 80vh;
      --cell-size: 10vh;
      --checker-size: 8.5vh;
  }
}
@media (orientation: portrait), (max-aspect-ratio: 10/13){
  :root{
      --field-size: 100vw;
      --cell-size: 12.5vw;
      --checker-size: 10.5vw;
      --regular-text-size: 12px;
  }
}
html, body {
    overflow-x: hidden;
}
body{
    margin: 0;
    background: var(--theme-bg-color);
    -webkit-touch-callout: none; 
}
input[type=button],input[type=text],input[type=password],select{
    width: 100%;
    padding: 1em;
    font-family: inherit;
    background: transparent;
    border: 2px solid #485761;
    color: #9c9c9c;
}
input[type=text]:focus{
    border: 2px solid #0888dd;
    outline: none;
    color: white;
}
#root{
    margin: 0px;
    padding: 0px;
    padding-top: 3.5em;
    height: 100vh;
}

/* BOOTSTRAP */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container {
    all: initial;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 15px;
}
.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }


  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }